<div class="container-main">
    <div class="container-information">
        <div class="textual-informations">
            <h1>Full Stack</h1>
            <h2 class="name">Dhyego Tourinho</h2>
            <p>Sou um profissional dedicado e habilidoso, com experiência sólida em QA, Frontend e Backend. Minha trajetória inclui o domínio de tecnologias como .NET, C#, Angular, HTML, CSS, JavaScript e TypeScript, além do desenvolvimento e consumo de REST APIs. No campo da qualidade de software, possuo expertise em Playwright, metodologias ágeis, gerenciamento de testes e pipelines de CI/CD. Minha abordagem técnica e detalhista garante entregas eficientes e de alta qualidade.

            </p>
        </div>
        <div class="image">
            <img src="assets/FotoPerfilRosto.png" alt="Dhyego Tourinho" class="FotoPerfil">
        </div>
    </div>
    <div class="container-projects">
        <div class="container-projects">
            <h2 class="projects-title">Projetos</h2>
        </div>
        <!-- TODO: Adicionar Ferramentas e Linguagem utilizada nos projetos -->
    <div class="conteiner-card-project">
                <div class="teste card teste2 ">
                    <a href={{projetos[0].link}}  target="_blank">
                        <img src={{projetos[0].imagem}} class="card-img-top" alt="InegavelProjeto">
                        <div class="card-body">
                            <p class="card-text">Feito em React, este é um projeto feito para minha namorada ser obrigada a assistir one piece comigo</p>
                        </div>
                    </a>
                </div>
            <div class="card">
                <a href={{projetos[1].link}} target="_blank">
                    <img src={{projetos[1].imagem}} class="card-img-top" alt="JogoDasCharadas">
                    <div class="card-body">
                        <p class="card-text">Utilizando C# com .Net, o projeto foi criado para comemorar 4 meses de namoro com minha namorada, seu intuito é descobrir a localização de um presente</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href={{projetos[2].link}} target="_blank">
                    <img src={{projetos[2].imagem}} class="card-img-top" alt="DesafioAPI">
                    <div class="card-body">
                        <p class="card-text">Feito a partir do C# com .ASP NET API Web, SQLite, Este projeto é uma API Rest que gerência usuários. Cuidadosamente pensado e planejado, utiliza Authorize entre outras práticas interessantes</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://google.com.br" target="_blank">
                    <img src="assets/TelaDeCodigo.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">EEste projeto é um projeto direcionado ao...sste projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://google.com.br" target="_blank">
                    <img src="assets/TelaDeCodigo.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">EEste projeto é um projeto direcionado ao...sste projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://google.com.br" target="_blank">
                    <img src="assets/TelaDeCodigo.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">EEste projeto é um projeto direcionado ao...sste projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
        </div>
        
        <div>
            <div class="contact-type">
                <i class="bi bi-house-door"></i>
            </div>
        </div>
        <div class="box" appScrollReveal>Eu apareço ao rolar!</div> 
    </div>
    
    <div class="footer">
        <footer class="text-dark text-center py-4 pb-1">
            <p> © 2025 Dhyego Tourinho | Todos os direitos reservados </p>
        </footer>
    </div>
</div>
