<div class="container-main">
    <div class="container-information">
        <div class="textual-informations">
            <h1>Full Stack</h1>
            <h2>Dhyego Tourinho</h2>
            <p>Eu sou Dhyego tourinho Eu sou Dhyego tourinho Eu sou Dhyego tourinho Eu sou Dhyego tourinho Eu sou Dhyego tourinho Eu sou Dhyego tourinho Eu sou Dhyego tourinho Eu sou Dhyego tourinho </p>
        </div>
        <div class="image">
            <img src="assets/GatoSemFundo.png" alt="Gato" class="photo">
        </div>
    </div>
    <div class="container-projects">
        <div class="container-projects">
            <h2 class="projects-title">Projetos</h2>
        </div>
        <div class="projects-preview">
            <div class="card" style="width: 18rem;">
                
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

              </div>
        </div>
    </div>
    
</div>