<div class="container-main">
    <div class="container-information">
        <div class="textual-informations">
            <h1>Full Stack</h1>
            <h2 class="name">Dhyego Tourinho</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sed ullam autem praesentium ab quae repellat sit. Ex sequi, ipsam dolorum velit provident distinctio facilis placeat, fugiat dolores delectus cum.</p>
        </div>
        <div class="image">
            <img src="assets/GatoSemFundo.png" alt="Gato" class="photo">
        </div>
    </div>
    <div class="container-projects">
        
        <div class="container-projects">
            <h2 class="projects-title">Projetos</h2>
        </div>
        
        <div class="conteiner-card-project">
            <div class="card">
                <a href="https://github.com/DhyegoTourinho/FrontEnd-Estudos/tree/main/Projects/Inegavel/inegavel" target="_blank">
                    <img src="assets/ProjetoInegavel.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">Este projeto é um projeto direcionado ao... Este projeto é um projeto direcionado ao... Este projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://google.com.br" target="_blank">
                    <img src="assets/TelaDeCodigo.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">Este projeto é um projeto direcionado ao... Este projeto é um projeto direcionado ao...Este projeto é um projeto direcionado ao...Este projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://google.com.br" target="_blank">
                    <img src="assets/TelaDeCodigo.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">EEste projeto é um projeto direcionado ao...sste projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://google.com.br" target="_blank">
                    <img src="assets/TelaDeCodigo.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">EEste projeto é um projeto direcionado ao...sste projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://google.com.br" target="_blank">
                    <img src="assets/TelaDeCodigo.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">EEste projeto é um projeto direcionado ao...sste projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="https://google.com.br" target="_blank">
                    <img src="assets/TelaDeCodigo.png" class="card-img-top" alt="Tela de codigo">
                    <div class="card-body">
                        <p class="card-text">EEste projeto é um projeto direcionado ao...sste projeto é um projeto direcionado ao...</p>
                    </div>
                </a>
            </div>
        </div>
        
        <div>
            <div class="contact-type">
                <i class="bi bi-house-door"></i>
            </div>
        </div>
    </div>

    <div class="footer">
        <footer class="text-dark text-center py-4 pb-1">
            <p> © 2025 Dhyego Tourinho | Todos os direitos reservados </p>
        </footer>
    </div>
</div>
    