*{
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f4f2eb 70%, #FCBe15 0%) !important;
}

.footer {
    border-top: solid 1px #202020;
    background-color: #ffffff !important;
    font-size: 2vh;
}
.boldonse-regular {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}
  

.container-main{
    color: #08385f;
}

.container-information{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}
.textual-informations{
    margin-top: 3%;
    margin-left: 4%;
    text-align: start;
   
}
.textual-informations h1 { 
    font-family: "Luckiest Guy", "arial";
    font-weight: 400;
    font-size: 6vw;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 4px;
    padding-left: 10vw;
}
.textual-informations h2{
    font-family: "Arial";
    font-optical-sizing: auto;
    font-size: 4vw;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 2px;
    padding-left: 8vw;
}
.textual-informations p {
    min-height: 50%;
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 2px;
    padding-left: 6vw;
    padding-right: 2vw;
}
.image{
    background: #08385f;
    padding: unset;
    border-radius: 30% 68% 54% 53% / 32% 36% 64% 66%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
    min-width: fit-content;
    margin-right: 12vw;
}
.FotoPerfil{
    width: 20vw;
    height: auto;
}
.container-projects{
    padding: 4vh;
    text-align: center;
}
.projects-title{
    font-size: 3vw;
    padding-bottom: 2vh;
}
.conteiner-card-project{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 6vh 10vw; 
}

.card {
    margin-bottom: 2%;
    width: 35%;
    transition: width 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.card:hover {
    margin-bottom: 2%;
    width: 38%;
    transition: width 0.15s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.card a {
    text-decoration: none;
    
}

.card-text {
    min-height: 15vh;
    color:#202020;
    font-size: 2.5vh;
    text-decoration: none;
}

p {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }

div{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
  
/* teste */

